/* stylelint-disable color-no-hex */

// Brand colors
$colorRedLululemon: #d31334;
$colorBlack: #000;
$colorDarkGrey: #2c282e;
$colorMediumGrey: #57585b;
$colorLightGrey: #e8e7e4;
$colorDivideLineGrey: #d5d5d5;
$colorBoundaryBoxGrey: #e6e6e6;
$colorBackgroundGrey: #f2f2f2;
$colorBackgroundLiteGrey: #fafafa;
$colorWhite: #fff;

// Notification colors
$colorError: #d22030;
$colorErrorBackground: #fae8ea;
$colorSuccessTextA11Y: #02862b;
$colorSuccess: #039e33;
$colorSuccessBackground: #cdecd6;
$colorInfo: #4a90e2;
$colorInfoBackground: #dbe9f9;
$colorWarning: #efc100;
$colorWarningBackground: #fcf3cc;
$colorMessage: $colorMediumGrey;
$colorMessageBackground: $colorLightGrey;
