@import './includes.scss';

@keyframes lll-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes lll-fadeInUp {
  from {
    opacity: 0;
    transform: translateY(rem(50));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
